h1{
    font-size: 40px;
}

p{
    font-size: small;
}

body {
    
    background-color:antiquewhite;
}

.resultContainer {
    display: flex;
}

.wrapper {
    display: flex;
    align-self: center;
}
  
.gameTitle{
    margin-left: 20px;
    width: 100%;
}

.gameCat{
    margin-left: 20px;
}

.gameImage{
    margin-top: 40px;
    border-radius: 8px;

}

.gameDescription{
    border-style: groove;
    font-family: sans-serif;
    word-wrap: break-word;
    height:40%;

}

.devPfp{
    width: 200px;
    clip-path: circle();
}

.checked {
    color: orange;
  }

#logout:hover{
    background-color:blue;
}