{% extends "indie/base.html" %}
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css_sheets/index.css' %}">
    {% block title_block %}
            Homepage
        {% endblock %}
</head>
<body>
    {% block body_block %}
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <a href="http://127.0.0.1:8000/indie">
            <img src="{% static 'images/logo.jpg' %}" alt="Indie Logo" style="border-radius: 8px; height:100px"/>
        </a>
        <h1 style="flex-grow: 1; text-align: center; margin-left: 20px;">Dev Home</h1>
        <h1>
            <form>
                <label for="sitem">Search:</label>
                <input type="text" id="sitem" name="sitem" placeholder="Enter Game/Developer">
            </form>
        </h1>
        <h1 style="width: 30%; text-align: right; margin: 0;"><a href="{% url 'indie:logout' %}">Logout</a></h1>
    </div>
    <li>Testing things</li>
{% endblock %}