<!DOCTYPE html>
{% load staticfiles %}
{% load indie_template_tags %} 

<html>
    <head>
        <head>
            <link rel="stylesheet" type="text/css" href="{% static 'css_sheets/index.css' %}">
        </head>
        <title>
            Indie - 
            {% block title_block %}
            Base
            {% endblock %}
        </title>
    </head>
    
    <body>
        {% block top_bar_block %}
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <a href="http://127.0.0.1:8000/indie">
                <img src="{% static 'images/logo.jpg' %}" alt="Indie Logo" style="border-radius: 8px; height:100px"/>
            </a>
            <h1 style="flex-grow: 1; text-align: center; margin-left: 20px;">Browse</h1>
            <h1 style="width: 30%; text-align: right; margin: 0;"><a href="{% url 'indie:upload_game' %}">Upload Game</a></h1>
            <h1 style="width: 30%; text-align: right; margin: 0;"><a href="{% url 'indie:logout' %}">Logout</a></h1>
        </div>
        
        {% endblock %}
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
            
        {% block bottom_bar_block %}
            <li><a href="{% url 'indie:register' %}">Register</a></li>
            <li><a href="{% url 'indie:login' %}">Login</a></li>

        {% endblock %}        
    </body>
</html>
