<!DOCTYPE html>
{% load staticfiles %}


<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css_sheets/index.css' %}">
    </head>
        <title> 
            {% block title_block %}
                Indie
            {% endblock %}

        </title>

    <body>
        <div>
            {% block top_bar_block %}
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h1><img src="{% static 'images/logo.jpeg' %}" alt="Indie Logo" /></h1>
                <h1 style="flex-grow: 1; text-align: center; margin-left: 20px;">Browse</h1>
                <h1>
                    <a href="{% url 'indie:upload_new_game' %}">Upload New Game</a>
                </h1>
                <h1 style="width: 30%; text-align: right; margin: 0;"><a href="{% url 'indie:logout' %}">Logout</a></h1>
        </div>
            {% endblock %}
        </div>

        <div>
            {% block body_block %}
            {% endblock %}
        </div>

        <div>
            {% block bottom_bar_block %}
            {% endblock %}
        </div>
        
        
</html>