{% load staticfiles %}

{% if games %}
    {% for game in games %}
    <div class="card">
        <a href="{% url 'indie:show_game' game.slug %}">
        {% if game.image %}
            <img class = "card_image" src="{{ game.image.url }}" alt="{{ game.name }}">
        {% else %}
            <img class = "card_image" src="{% static 'images/no_image.jpg' %}" alt="{{ game.name }}">
        {% endif %}
        <div class="container">
            <h4>{{ game.name }}</h4>
            <p>{{ game.dev }}</p>
            <p>{{ game.genre }}</p>
            {% if game.featured %}
            <p>⭐ FEATURED ⭐</p>
            {% endif %}
            {% if game.description %}
            <p>{{ game.description }}</p>
            {% endif %}
            <p>{{ game.likes }} ❤️, {{ game.views }} 👁️, {{ game.downloads }} ⬇️</p>
            <p>{{ game.upload_date|date:"SHORT_DATE_FORMAT" }}</p>
            <h4>{{ game.price_formatted }}</h4>
        </div>
    </a>
    </div>
    {% endfor %}
{% else %}
    <li><strong>There are no games in this category.</strong></li>
{% endif %}