<!DOCTYPE html>
{% load staticfiles %}


<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css_sheets/game_page.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
        <title> 
            {% block title_block %}
                Dev Base
            {% endblock %}

        </title>

        {% block top_bar_block %}
            <div style="display: flex; justify-content: space-between; align-items: center; background-color: #B6E2D3; width: 100%; position: sticky; top: 0; left: 0; z-index: 999;">
                <a href="{% url 'indie:index' %}">
                    <img src="{% static 'images/logo.jpg' %}" alt="Indie Logo" style="height:100px; border-radius: 8px;"/>
                </a>

                <h1 style="flex-grow: 1; text-align: right; margin-left: 60px;">
                    <form action="{% url 'indie:search' %}" method="get">
                        <label for="sitem">Search:</label>
                        <input type="text" id="sitem" name="sitem" placeholder="Enter Game/Developer">
                    </form>
                </h1>

                <h1 style="width: 30%; text-align: right; margin: 0;"><a href="{% url 'indie:logout' %}">Logout</a></h1>
            </div>
        {% endblock %}

        <div>
            {% block body_block %}
            {% endblock %}
        </div>

        <div>
            {% block bottom_bar_block %}
            {% endblock %}
        </div>
</html>