{% extends "indie/game_base.html" %}
{% load staticfiles %}

<!-- HELLO! If you see this before the teams message please go to teams I explain why there is this here THANK YOU! -Jason(xiaozu) -->

{% block body_block %}
<div style="position:relative;"></div>
<div class="gameTitle">
        <!--actual game title-->
        {% if game %}
            <h1>{{ game.name }}<br/></h1>
            <h2>{{game.genre}}</h2>
        {% else %}
            <h1>Unknown Game<br/></h1>
            <h2>unknown genre</h2>
        {% endif %}

        </span>
</div>
    <div style="display: flex; justify-content: flex-start;">
        {% if game.image %}
            <img src="{{ game.image.url }}">
        {% else %}
            <img src="{% static 'images/no_image.jpg' %}"  class="gameImage" style="max-width:40%; max-height:40%;" alt="Game Snapshot"/>
        {% endif %}
        <div style="padding-left: 40px; max-width:35%;">
            <h1>
                Description
            </h1>
            <h2 class="gameDescription" style="font-size:14px;">
                {{game.description}}
            </h2>
            <div style="text-align: center; border: 2px solid cadetblue; display:flex; justify-content:space-around;">
                <h1 style="border-right:2px solid cadetblue; padding-right: 120px;">
                    Purchase
                </h1>
                <h1 style="font-family: sans-serif; padding-right: 20px;">
                    {{game.price_formatted}}
                </h1>
            </div>
        </div>
        <div style="padding-left: 40px; max-width:10%;">
            <div style="border-style: groove; width: 300px; height: 625px;">
                <div style="padding-left: 50px;">
                    <a href="/indie/user/{{dev.user}}">
                    {% if dev.picture %}
                        <img src="{{ game.image.url }}">
                    {% else %}
                        <img src="{% static 'images/no_image.jpg' %}"  class="devPfp" alt="Dev Pfp"/>
                    {% endif %}
                    </a>
                </div>
                <div style="padding-left: 50px; text-align: center;">
                    <h1 style="word-wrap: break-word;">
                        <a href="/indie/user/{{dev.user}}">{{dev.user}}</a>
                    </h1>
                    <div style=" text-align: left; margin-left: -12px;"><h1>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </h1>
                    </div>
                </div>
                <div style=" padding-top: 60px; border-bottom: 2px solid cadetblue;">
                </div>
                <div>
                   <h2  style="text-align: center; word-wrap: break-word; font-family: sans-serif; font-size:14px;">
                       {{dev.bio}}
                   </h2>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        <h2>reviews</h2>
        {% for review in feedback %}
            <div style="border-style:groove;">
                <a style="font-size:22px;" href="/indie/user/{{review.userProfile.user}}">
                    {% if review.userProfile.picture %}
                        <img src="{{ review.userProfile.picture.url }}" class="userPfp">
                    {% else %}
                        <img src="{% static 'images/no_image.jpg' %}"  class="userPfp"/>
                    {% endif %}
                    User: {{review.userProfile.user}}
                </a>
                <p style="font-size:18px;">Rating: {{review.rating}}/10</p>
                <p style="font-size:16px;">{{review.text}}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}