<!DOCTYPE html>
{% extends 'indie/base.html' %}
{% load staticfiles %}
{% load indie_template_tags %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css_sheets/index.css' %}">
        {% block title_block %}
                Homepage
            {% endblock %}
    </head>
    <body>
        {% block body_block %}
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <a href="http://127.0.0.1:8000/">
                <img src="{% static 'images/logo.jpg' %}" alt="Indie Logo" style="border-radius: 8px; height:100px"/>
            </a>
            <h1 style="flex-grow: 1; text-align: center; margin-left: 20px;">Browse</h1>
            <h1>
                <form>
                    <label for="sitem">Search:</label>
                    <input type="text" id="sitem" name="sitem" placeholder="Enter Game/Developer">
                </form>
            </h1>
            <h1 style="width: 30%; text-align: right; margin: 0;"><a href="{% url 'indie:logout' %}">Logout</a></h1>
        </div>

        <h2>
            <div class="tabs">
                <!--tab for FEATURED games-->
                <input type="radio" class="tabs__radio" name="tabs-poprecent" id="featured" checked>
                <label for="featured" class="tabs__label">Featured</label>
                <div class="tabs__content">
                    {% get_games_list featured_games %}
                </div>
                <!--tab for POPULAR games-->
                <input type="radio" class="tabs__radio" name="tabs-poprecent" id="popular">
                <label for="popular" class="tabs__label">Popular</label>
                <div class="tabs__content">
                    {% get_games_list popular_games %}
                </div>
                <!--tab for NEW games-->
                <input type="radio" class="tabs__radio" name="tabs-poprecent" id="new">
                <label for="new" class="tabs__label">New</label>
                <div class="tabs__content">
                    {% get_games_list new_games %}
                </div>
                <!--tab for TOP RATED games-->
                <input type="radio" class="tabs__radio" name="tabs-poprecent" id="top">
                <label for="top" class="tabs__label">Top Rated</label>
                <div class="tabs__content">
                    {% get_games_list top_games %}
                </div>
            </div>
        </h2>
        <div>
            <h1 style="text-align: left;">Genre</h1>
        </div>
        <h2>
            <div class="tabs-genre">
                <input type="radio" class="gtabs__radio" name="tabs-genre" id="action" checked>
                <label for="action" class="gtabs__label">Action</label>
                <div class="gtabs__content">
                    Content for Action Games
                </div>
                <input type="radio" class="gtabs__radio" name="tabs-genre" id="adv">
                <label for="adv" class="gtabs__label">Adventure</label>
                <div class="gtabs__content">
                    Content for Adventure Games
                </div>
                <input type="radio" class="gtabs__radio" name="tabs-genre" id="plat">
                <label for="plat" class="gtabs__label">Platformer</label>
                <div class="gtabs__content">
                    Content for Platformer Games
                </div>
                <input type="radio" class="gtabs__radio" name="tabs-genre" id="puzzle">
                <label for="puzzle" class="gtabs__label">Puzzle</label>
                <div class="gtabs__content">
                    Content for Puzzle Games
                </div>
                <input type="radio" class="gtabs__radio" name="tabs-genre" id="rpg">
                <label for="rpg" class="gtabs__label">RPG</label>
                <div class="gtabs__content">
                    Content for RPG Games
                </div>
            </div>
        </h2>
        {% endblock %}
    </body>
</html>
