{% extends "indie/dev_base.html" %}
{% load staticfiles %}

{% block title_block %}
    Upload Game
{% endblock %}

{% block body_block %}
    <h2>Upload Your New Game</h2>
    <div>
        <form id="game_form" method="post" action="{% url 'indie:upload_game' %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <li>{{ field.errors }}
                {{ field.help_text }}
                {{ field }}</li>
            {% endfor %}
            <input type="submit" name="submit" value="Upload Game" />
        </form>
    </div>

{% endblock %}